<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
        <script>
          $(document).ready( function () {
            $('#listarTodo').DataTable();
            });
        </script>
    
    </head>
    <body>
        <table id="listarTodo" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Contenido</th>
                        <th>Categoria</th>
                        <th>Fecha</th>
                        <th>ISBN</th>
                        <th>Edición</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="entrada:${entrada}">
                        <td scope="row" th:text="${entrada.id}"></td>
                        <td scope="row" th:text="${entrada.titulo}"></td>
                        <td scope="row" th:text="${entrada.autor}"></td>
                        <td scope="row" th:text="${entrada.contenido}"></td>
                        <td scope="row" th:text="${entrada.categoria}"></td>
                        <td scope="row" th:text="${entrada.fecha}"></td>
                        <td scope="row" th:text="${entrada.ISBN}"></td>
                        <td scope="row" th:text="${entrada.edicion}"></td>
                    </tr>
                </tbody>
            </table>
    </body>
</html>
